.footer {
    border-top: 1px solid #d4d8df;
}
.footer__content {
    width: 80%;
    margin: auto;
    color: #969ba1;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
}
.footer__copy {
    margin-top: 18px;
}
.footer__social-network-logos__vk {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #e3e5ea;
    background-image: url('./../images/vk.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
}
.footer__social-network-logos__fb {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #e3e5ea;
    background-image: url('./../images/fb.png');
    background-repeat: no-repeat;
    background-position: center;
}
.footer__copy__a {
    text-decoration: none;
    color: #4097dc;
}